<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<h2>
    <%= title %>
</h2>
<% include menu.ejs %>
<% include message.ejs %>
<form method=post action='/login'>
    <p>
        <input type="text" name="name">
    </p>
    <p>
        <input type="password" name='pass'>
    </p>
    <p>
        <input type="submit" value='login'>
    </p>
</form>
</body>
</html>
