<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
</head>
<body>
<form method=post enctype=multipart/form-data>
    <p>
        <input type="text" name="name">
    </p>
    <p>
        <input type="file" name='image'>
    </p>
    <p>
        <input type="submit" value='upload'>
    </p>
</form>
</body>
</html>
